.product-container{
    height: 400px;
    background-color: #fff;
    transition: all 0.5s;
}
.product-container:hover{
    box-shadow: 8px 0 40px 12px rgba(0, 0, 0, 0.185);
}
.product-img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-LEFT-radius: 5px;
}
.product-txt{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    /* display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em; */
}
.product-btn{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500;
}